@model ProductViewModel

<body>
    <div class="col-8 card shadow card-body-product">
        <div class="card-body-product">
            @foreach (var image in Model.ImagePath)
            {
                {
                    int h = 400 / Model.ImagePath.Count;
                    <img src=@image alt="Фото картины" height="@h">
                };
                <br />
            }
            <br>
            <h3><b>@Model.Name</b><br></h3>
            @if (Model.IsPromo)
            {
                <b><s>@Convert.ToInt32((int)Model.Cost * 1.3)</s> @Model.Cost рублей</b>
                <br>
            }
            else
            {
                <b>@Model.Cost рублей</b>
                <br>
            }
            <b>@Model.Description</b><br>
            <b>@Model.Genre</b><br>
            <b>@Model.PaintingTechnique</b><br>
            <b>@Model.Size</b><br>
            @if (Model.IsPromo)
            {
                <h5>Акция на товар!</h5>
            }
            <br>
            <a class="btn btn-outline-primary btn-lg" asp-controller="home" asp-action="index" role="button">Продолжить покупки</a>
            <a class="btn btn-outline-secondary btn-lg" asp-controller="compare" asp-action="add" asp-route-id=@Model.Id role="button">Сравнить</a>
            <a class="btn btn-success btn-lg" asp-controller="basket" asp-action="add" asp-route-id=@Model.Id role="button">Добавить в корзину</a>
        </div>
    </div>
</body>