@model Product

@await Html.PartialAsync("AdminPanel")
<div class="card shadow addproducts">
    <form class="form" action="#" autocomplete="off" method="post">
        <fieldset>
            <center><legend>Изменение информации о продукте</legend></center>
            <label for="name">Название картины</label>
            <input type="text" name="name" value="@Model.Name">
            <br />
            <label for="cost">Цена</label>
            <input type="number" name="cost" value="@Model.Cost">
            <br />
            <label for="GenreEnum">Жанр</label>
            @Html.DropDownList("GenreEnum", new SelectList(ViewBag.enumes))
            <br />
            <label for="paintingTechnique">Техника</label>
            <input type="text" name="paintingTechnique" value="@Model.PaintingTechnique">
            <br />
            <label for="size.width">Ширина картины</label>
            <input type="number" name="size.width" value="@Model.Size.Width">
            <br />
            <label for="size.heigth">Высота картины</label>
            <input type="number" name="size.heigth" value="@Model.Size.Height">
            <br />
            <label for="description">Описание</label>
            <textarea name="description" rows="2" cols="20" value="@Model.Description"></textarea>
            <br />
            <label for="year">Год создания</label>
            <input type="number" name="year" value="@Model.Year">
            <br />
            <label for="imagepath">Ссылка на изображение</label>
            <input type="text" name="imagepath" value="@Model.ImagePath" />
            <br />
            <label for="size.isframe">Наличие рамки   </label>
            <input name="size.isframe" type="checkbox" value="@Model.Size.IsFrame">

            <label for="ispromo">Акция на товар   </label>
            <input name="ispromo" type="checkbox" value="@Model.IsPromo">
            <div class="btn-group" role="group">
                <button class="btn-outline-secondary btn-lg" type="reset">Сбросить заполнение формы</button>
                <button type="submit" class="btn-success btn-lg" asp-area="" asp-controller="Admin" asp-action="Update" role="button">Изменить продукт</button>
            </div>
        </fieldset>
    </form>
</div>