@model List<User>

@await Html.PartialAsync("AdminPanel")

@if (!Model.Any() || Model is null)
{
    <div class="card shadow adminproducts">
        <center><h2>Список пользователей</h2></center>
        <div class="text-dark">На сайте не зарегистрировано ни одного пользователя.</div>
    </div>
}
else
{
    <div class="card shadow adminproducts">
        <center><h2>Список пользователей</h2></center> @*//Это сделано для визуального отображения пользователей, которые зарегистрировались, чтобы удобно было проверять. В следующем задании дополню как надо по заданию*@
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Email</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tbody>
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>@user.Login</td>
                        <td>@user.Password</td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}