@model ProductViewModel

@await Html.PartialAsync("AdminPanel")
<div class="validation validation-message" asp-validation-summary="All"></div>
<div class="card shadow editproducts">
    <form class="form" autocomplete="off" method="post" enctype="multipart/form-data">
        <fieldset>
            <center><legend>Изменение информации о продукте</legend></center>

            <input type="hidden" name="id" value="@Model.Id">

            <label for="Name">Название картины</label>
            <input type="text" asp-for="Name" value="@Model.Name" size="40">
            <br />
            <span asp-validation-for="Name"></span>
            <br />

            <label asp-for="Cost">Цена</label>

            @Html.EditorFor(x=>x.Cost)
            <span asp-validation-for="Cost"></span>
            <br />

            <label for="GenreEnum">Жанр </label>
            @Html.DropDownListFor(m => m.Genre,Html.GetEnumSelectList(typeof(Genre)), new {selected = Model.Genre})
            <br />

            <label asp-for="PaintingTechnique">Техника</label>
            <input type="text" asp-for="PaintingTechnique" value="@Model.PaintingTechnique">
            <span asp-validation-for="PaintingTechnique"></span>
            <br />

            <label asp-for="Size.Width">Ширина картины</label>
            <input type="number" asp-for="Size.Width" value="@Model.Size.Width" onKeyUp="if(this.value>200){this.value='200';}">
            <span asp-validation-for="Size.Width"></span>
            <br />

            <label asp-for="Size.Height">Высота картины</label>
            <input type="number" asp-for="Size.Height" value="@Model.Size.Height" onKeyUp="if(this.value>200){this.value='200';}">
            <span asp-validation-for="Size.Height"></span>
            <br />

            <label for="Description">Описание</label>
            <textarea asp-for="Description" rows="2" cols="70" value="@Model.Description"></textarea>
            <span asp-validation-for="Description"></span>
            <br />

            <label asp-for="Year">Год создания</label>
            <input type="number" asp-for="Year" value="@Model.Year" onKeyUp="if(this.value>2023){this.value='2023';}else if(this.value<2015){this.value ='2015';}">
            <span asp-validation-for="Year"></span>
            <br />

            <input type="hidden" asp-for="ImagePath" value="@Model.ImagePath" />

            <label asp-for="Size.IsFrame">Наличие рамки</label>
            @Html.CheckBoxFor(m =>m.Size.IsFrame)

            <label for="ispromo">Акция на товар</label>
            @Html.CheckBoxFor(m =>m.IsPromo)

            <div class="form-group">
                <label>Изменить изображение</label>
                <input type="file" name="UploadedFiles" class="form-control" multiple accept=".jpg, .jpeg, .png, .svg, .gif" />
            </div>

            <div class="btn-group" role="group">
                <button class="btn-outline-secondary btn-lg" type="reset">Сбросить заполнение формы</button>
                <button type="submit" class="btn-success btn-lg" asp-area="admin" asp-controller="product" asp-action="edit" role="button">Изменить продукт</button>
            </div>

        </fieldset>
    </form>
</div>