
<div class="undernavbar">
    <div class="sortblock">
        <div class="dropdown">
            <a class="btn button-sort dropdown-toggle" type="button" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Сортировка
                <span class="caret"></span>
            </a>
            @if (ViewBag.SortOrder != null)
            {
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Пейзаж" asp-route-sortOrder="@ViewBag.SortOrder">>Пейзаж</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Натюрморт" asp-route-sortOrder="@ViewBag.SortOrder">>Натюрморт</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Анималистика" asp-route-sortOrder="@ViewBag.SortOrder">>Анималистика</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Портрет" asp-route-sortOrder="@ViewBag.SortOrder">>Портрет</a></li>
                    @if (ViewBag.Genre != null)
                    {
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@ViewBag.Genre" asp-route-sortOrder="cost_asc">По возрастанию цены</a></li>
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@ViewBag.Genre" asp-route-sortOrder="cost_desc">По убыванию цены</a></li>
                    }
                    else
                    {
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-sortOrder="cost_asc">По возрастанию цены</a></li>
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-sortOrder="cost_desc">По убыванию цены</a></li>
                    }
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-newProducts="@true">Сначала новые</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-newProducts="@false">Сначала старые</a></li>
                    <li><a class="btn button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-promo="true" role="button">Акция!</a></li>
                    <li><a class="btn button-sort-sm" asp-area="" asp-controller="home" asp-action="index" role="button">Сбросить</a></li>
                </ul>
            }
            else
            {
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Пейзаж">Пейзаж</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Натюрморт">Натюрморт</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Анималистика">Анималистика</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@Genre.Портрет">Портрет</a></li>
                    @if (ViewBag.Genre != null)
                    {
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@ViewBag.Genre" asp-route-sortOrder="cost_asc">По возрастанию цены</a></li>
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-genre="@ViewBag.Genre" asp-route-sortOrder="cost_desc">По убыванию цены</a></li>
                    }
                    else
                    {
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-sortOrder="cost_asc">По возрастанию цены</a></li>
                        <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-sortOrder="cost_desc">По убыванию цены</a></li>
                    }
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-newProducts="@true">Сначала новые</a></li>
                    <li><a class="dropdown-item button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-newProducts="@false">Сначала старые</a></li>
                    <li><a class="btn button-sort-sm" asp-area="" asp-controller="home" asp-action="index" asp-route-promo="true" role="button">Акция!</a></li>
                    <li><a class="btn button-sort-sm" asp-area="" asp-controller="home" asp-action="index" role="button">Сбросить</a></li>
                </ul>
            }
        </div>
    </div>
    <div class="form-search">
        <form class="form" method="post">
            <div class="btn-group" role="group">
                <input class="search-left" type="search" name="search" placeholder="Найти...">
                <button type="submit" class="btn search-right" asp-controller="product" asp-action="searchresult">Поиск</button>
            </div>
        </form>
    </div>
</div>