@model Basket

@if (Model == null || !Model.ProductsInBasket.Any())
{
    <br />
    <center>
        <img src="~/images/PennywiseBig.jpg" alt="Упс!">
    </center>
    <div class="emptybasket"><h2><b>Ха! Ваша корзина пуста!</b></h2></div>
}
else
{
    <div class="col-11 card shadow" style="background-color:antiquewhite">
        <p class="heading" valign="middle"><b>Ваша корзина</b></p>
        <table>
            @foreach (BasketItem item in Model.ProductsInBasket)
            {
                <tbody class="tab-content">
                    <tr><th>@item.Product.Name</th></tr>
                    <tr>
                        <td>Жанр: @item.Product.Genre</td>
                        <td><a class="btn btn-outline-success btn-lg" role="button" asp-controller="basket" asp-action="changeamount" asp-route-id=@item.Product.Id asp-route-sign="false" asp-route-userId=@Model.UserId>-</a></td>
                        <td align="center">@item.Amount</td>
                        <td><a class="btn btn-outline-success btn-lg" asp-controller="basket" asp-action="changeamount" asp-route-id=@item.Product.Id asp-route-sign="true" asp-route-userId=@Model.UserId role="button">+</a></td>
                        <td align="right">@(item.Product.Cost * item.Amount) рублей</td>
                    </tr>
                    <tr><td>Написана в @item.Product.Year году</td> </tr>
                </tbody>
            }
        </table>
        <br />
        <p class="tab-total" rowspan="5"><b>Итоговая сумма заказа @Model.TotalCost() рублей</b></p>
        <p>
            <div align="center">
                <a class="btn btn-outline-primary col-md-3 btn-lg btn-options" asp-controller="basket" asp-action="clear" role="button">Очистить корзину</a>
                <a class="btn btn-outline-secondary col-md-4 btn-lg btn-options" asp-controller="home" asp-action="index" role="button">Продолжить покупки</a>
                <a class="btn btn-success col-md-4 btn-lg btn-options" asp-controller="order" asp-action="index" role="button">Оформить заказ</a>
            </div>
        </p>
    </div>
}