@model Basket

@if(Model.ProductsInBasket == null)
{
    <h2><b>Ваша корзина пуста!</b></h2>
}
else
{
<div class="col-11 card shadow">
<b><p class="heading" valign="middle">Ваша корзина</p></b>
    <table>
    @foreach (BasketItem item in Model.ProductsInBasket)
    {
            <tbody class="tab-content">
                <tr><th>@item.Product.Name</th></tr>
                <tr>
                    <td>Жанр: @item.Product.Genre</td>
                    <td align="right">@item.Amount</td>
                    <td align="right">@(item.Product.Cost * @item.Amount) рублей</td>
                </tr>
                <tr><td>Написана в @item.Product.Year году</td> </tr>
            </tbody>
    }
</table>
<br />
    <b><p class="tab-total" rowspan="5">Итоговая сумма заказа @Model.TotalCost() рублей</p></b>
<p>
        <div align="center">
            <a class="btn btn-success col-md-5 btn-lg btn-options" href="#" role="button">Оформить заказ</a>
        </div>
</p>
</div>
}
