@model List<ProductWithQuantity>

@if (Model.Count == 0)
{
    <h1><b>Ваша корзина пуста!</b></h1>
}
@if(Model.Count != 0)
{
<b><p class="heading" valign="middle">Ваша корзина</p></b>
    <table>
    @foreach (ProductWithQuantity item in Model)
    {
            <tbody class="tab-content">
                <tr><th>@item.Name</th></tr>
                <tr>
                    <td>Жанр: @item.Genre</td>
                    <td align="right">@item.NumberOfProducts</td>
                    <td align="right">@item.Cost</td>
                </tr>
                <tr><td>Написана в @item.Year году</td> </tr>
            </tbody>
    }
</table>
<br />
    <b><p class="tab-total" rowspan="5">Итоговая сумма заказа @ViewBag.TotalCost рублей</p></b>
<p>
        <div align="center">
            <a class="btn btn-success col-md-5 btn-lg btn-options" href="#" role="button">Оформить заказ</a>
        </div>
</p>

}
