@model User

@await Html.PartialAsync("AdminPanel")
<div class="details-user">
    <center><h4>Пользователь @Model.Login</h4></center>
    <table>
        <tbody>
            <tr>
                <td>ID пользователя</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>ФИО:</td>
                <td>@Model.Surname @Model.Name @Model.Fathername</td>
            </tr>
            <tr>
                <td>Логин:</td>
                <td>@Model.Login</td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td>@Model.Password</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Согласие на получение новинок:</td>
                <td>
                    @if (Model.isDistribution)
                    {
                        <div>получено</div>
                    }
                    else
                    {
                        <div>не получено</div>
                    }
                </td>
            </tr>
            <tr>
                <td>Роль:</td>
                <td>@Model.Role.Name</td>
            </tr>
            <tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" type="button" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Действия
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" asp-area="admin" asp-controller="user" asp-action="editpassword" asp-route-id="@Model.Id">Смена пароля</a></li>
                <li><a class="dropdown-item" asp-area="admin" asp-controller="user" asp-action="edit" asp-route-id="@Model.Id">Редактирование данных</a></li>
                <li><a class="dropdown-item" href="#"> Права доступа</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-area="admin" asp-controller="user" asp-action="delete" asp-route-id="@Model.Id">Удалить пользователя</a></li>
            </ul>
        </div>
    </div>
</div>